---
// index.astro
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import "../../styles/globals.css";
import About from "@/components/About.astro";
import Skills from "@/components/Skills.astro";
import Projects from "@/components/Projects.astro";
import Footer from "@/components/Footer.astro";
---

<script is:inline>
	const getThemePreference = () => {
	  // Primero verifica si hay un tema guardado en localStorage
	  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
		const theme = localStorage.getItem("theme");
		return theme === "dark" || theme === "light" ? theme : "dark"; // Cambiado el fallback a "dark"
	  }
	  // Si no hay tema guardado, retorna "dark" por defecto
	  return "dark";
	};
  
	const isDark = getThemePreference() === "dark";
	document.documentElement.classList[isDark ? "add" : "remove"]("dark");
  
	if (typeof localStorage !== "undefined") {
	  const observer = new MutationObserver(() => {
		const isDark = document.documentElement.classList.contains("dark");
		localStorage.setItem("theme", isDark ? "dark" : "light");
	  });
	  observer.observe(document.documentElement, {
		attributes: true,
		attributeFilter: ["class"],
	  });
	}
  </script>

<Layout>
  <main class="flex flex-col h-full justify-start items-center">
    <Navbar />
    <div class="h-auto md:h-screen w-full">
      <About />
    </div>
    <div class="h-auto md:h-screen w-full">
      <Skills />
    </div>
    <Projects />
    <Footer />
  </main>
</Layout>
