---
import ProjectCard from "./ProjectCard.astro";
import {
  adwise,
  coffee,
  gif,
  music,
  pagination,
  qr,
  quotes,
  workshop,
  worldRank,
} from "@/assets";

const projects = [
  {
    href: "https://workshop-roan.vercel.app/",
    title: "Workshop",
    description: "Next js + Tailwind + MongoDB + Docker",
    imageSrc: workshop,
    imageAlt: "Workshop project",
  },
  {
    href: "https://adwise-nextjs.vercel.app/",
    title: "Adwise",
    description: "Next js + Tailwind",
    imageSrc: adwise,
    imageAlt: "Adwise project",
  },
  {
    href: "https://world-rank-kohl.vercel.app/",
    title: "World Rank",
    description: "React js + Tailwind + API + Docker",
    imageSrc: worldRank,
    imageAlt: "World Rank project",
  },
  {
    href: "https://qr-generator-coral.vercel.app/",
    title: "QR Generator",
    description: "Next js + Tailwind + MongoDB",
    imageSrc: qr,
    imageAlt: "QR project",
  },
  {
    href: "https://music-api-call.vercel.app/",
    title: "Music",
    description: "Next js + Shadcn/ui + Tailwind + API",
    imageSrc: music,
    imageAlt: "Music project",
  },
  {
    href: "https://random-quots.vercel.app/",
    title: "Random Quotes",
    description: "React js + Tailwind + API + Docker",
    imageSrc: quotes,
    imageAlt: "Random Quotes project",
  },
  {
    href: "https://gifs-app-ten-omega.vercel.app/",
    title: "Gifs",
    description: "React js + Vite + API",
    imageSrc: gif,
    imageAlt: "Gif project",
  },
  {
    href: "https://coffee-listing-theta.vercel.app/",
    title: "Coffee Listing",
    description: "React js + Tailwind + API",
    imageSrc: coffee,
    imageAlt: "Coffee project",
  },
  {
    href: "https://pagination-gold-nu.vercel.app/",
    title: "Pagination",
    description: "React js + Vite + Tailwind + API",
    imageSrc: pagination,
    imageAlt: "Pagination project",
  },
];
---

<section
  class="flex flex-col justify-center items-center p-5 pt-[100px]"
  id="projects"
>
  <h2 class="font-bold md:text-5xl text-2xl underline hover:text-[#E7983B]">
    Projects
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 my-5 p-5">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</section>
